@import "variables.css";
@import "body.css";
@import "navbar.css";
@import "header.css";
@import "about.css";
@import "projects.css";
@import "contact.css";
@import "footer.css";

/* font-family: 'Playfair Display', serif;
font-family: 'Cinzel', serif;
font-family: 'Handlee', cursive;
font-family: 'Merienda One', cursive;
font-family: 'Megrim', cursive; 
*/

body {
    background-color: #F1E6E8;
}

#display-4 h1 {
    font-family: 'Handlee', cursive;
    
}